@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: #ebe6e6;
}