:root {
  --black: #130f40;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 5%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0.5rem;
  box-shadow: var(--box-shadow);
  color: black;
}

.header .navbar {
  margin-left: 50%;
}

section {
  padding: 1rem;
}

.logo-quiosque-nav {
  width: 5vw;
}

.bttn {
  width: auto;
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: #eee;
}

.bttn:hover {
  background: #9e9e9e;
  color: #eee;
  transition: 0.3s;
}

.header .navbar a {
  margin: 0 1rem;
  color: rgb(39, 39, 39);
  text-decoration: none;
}

.header .navbar a:hover {
  color: #7e7e7e;
  transition: all 0.3s ease;
  border-bottom: 1px solid black;
}

.header .icons i {
  width: 1.5rem;
  line-height: 2rem;
  color: #b5a5e3;
  font-size: 1.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.header .icons i:hover {
  color: #000;
  transition: all 0.3s ease;
}

#menu-btn {
  display: none;
}

#login-btn {
  padding-right: 2.5rem;
}

.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 25rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #f5f5f5;
  text-align: center;
}

.header .login-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

.header .login-form h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #000;
}

.header .login-form .box {
  width: 100%;
  margin: 0.7rem 0;
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: #b5a5e3;
  text-transform: none;
}

.header .login-form p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: #000;
  display: flex;
  flex-direction: column;
}

.header .login-form p a {
  color: #e44a4a;
  text-decoration: underline;
}
@media (max-width: 511px) {
  footer,
  .des {
    font-size: medium;
  }
  .header .login-form {
    width: 25rem;
  }
  #login-btn {
    padding-right: 0.75rem;
  }
}

@media (max-width: 1220px) {
  #menu-btn {
    display: inline-block;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: auto;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
    background-color: #9e9e9e;
  }

  .header .navbar a {
    font-size: x-large;
    margin: 2rem 2.5rem;
    display: block;
  }
  .button {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 985px) {
  .logo-quiosque-nav {
    width: 100px;
  }
}
@media (max-width: 400px) {
  .header .navbar {
    right: -150%;
    width: 18rem;
  }

  .header .login-form.active,
  .header .navbar.active {
    right: 0.5rem;
  }
  .header .icons i {
    margin-left: auto;
  }
}
@media (max-width: 430px) {
  .header .login-form {
    width: 18rem;
    right: -150%;
    display: flex;
    flex-direction: column;
  }
}
